/* ページ全体 */
body {
  background-color: floralwhite;
  text-align: center;
}

/* 見出し */
h1 {
  font-size: 50pt;
  background-color: darkred;
  color: white;
}

/* 画像 */
.profile {
  width: 200px;
}

/* テーブル（表） */
table {
  margin: 10px auto;
}

th {
  background-color: lightblue;
  padding: 5px;
  width: 100px;
}

td {
  background-color: gainsboro;
  padding: 5px;
  width: 300px;
}
