/* ページ全体のスタイル設定 */
body {
	width: 800px;
	margin: 10px auto;	/* 中央寄せ */
	display : flex; 	/* flexボックス */
	flex-wrap: wrap; 	/* flexアイテムを折り返す */
}

/* ヘッダー部分のスタイル設定 */
header {
	width: 100%;
	height: 100px;
	background:#f0eeeb;	/* 背景色を薄いグレーに設定 */
}

/* メインコンテンツ部分のスタイル設定 */
main {
	width: 550px;
	height: 300px;
	background:#e3e3e3;	/* 背景色をグレーに設定 */
}

/* サイドバー部分のスタイル設定 */
aside {
	width: 250px;
	background:#c9c9c9;	/* 背景色を濃いグレーに設定 */
}

/* フッター部分のスタイル設定 */
footer {
	width: 100%;
	height: 100px;
	background:#afafaf;	/* 背景色をさらに濃いグレーに設定 */
}